<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/mm/ui/css/bootstrap.css">
    <script type="text/javascript" src="/mm/ui/js/jquery-1.7.2.min.js"></script>
    <script src="/mm/ui/js/bootstrap.js"></script>
    <title>MMAnywhere - Acquisition</title>
  </head>

  <body>
    #include("/org/mm_anywhere/ui/header.vm")
    
    <div class="container" id="content">
      <header class="jumbotron subhead" id="overview">
        <h1>Acquisition</h1>
      </header>
      
      <div class="container-fluid">
			  <div class="row-fluid">
			    <div class="span3">
						<form class="form-inline well">
						  <fieldset>
						    <legend>Camera Control</legend>
                <div class="control-group">
	                <button class="btn btn-primary btn-large" id="btn-snap-image">Snap</button>
                  <button class="btn btn-large">Live</button>
                </div>
						    <div class="control-group">
						      <label class="control-label" for="input01">Exposure [ms]</label>
						      <div class="controls">
						        <input type="text" class="input-mini" id="exposure-ms" value="$mmCore.getExposure()"></input>
						      </div>
						    </div>
                <div class="control-group">
                  <label class="control-label" for="input01">Binning</label>
                  <div class="controls">
	                  <select id="binning" class="input-mini">
			                <option>1</option>
			                <option>2</option>
			                <option>4</option>
			                <option>8</option>
			              </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="shutter">Shutter</label>
                  <div class="controls">
                    <select id=shutter class="input-medium">
                      <option>DShutter</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <button class="btn btn-info">Open</button>
                  <label class="checkbox">
                    <input type="checkbox" id="autoshutter"> Auto shutter
                  </label>
                </div>
						  </fieldset>
						</form>
						
            <form class="form-inline well">
              <fieldset>
                <legend>Config Presets</legend>
                
                <div class="control-group">
                  <label class="control-label" for="testgroup1">Test Group 1</label>
                  <div class="controls">
	                  <div class="btn-group" id="testgroup1">
	                    <button class="btn">NewPreset</button>
	                    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	                    <ul class="dropdown-menu">
	                        <li><a href="http://localhost:8080/mm/configurations/Test Group 1" class="activate-preset" id="NewPreset">NewPreset</a></li>
	                      </ul>
	                  </div>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="testgroup2">Test Group 2</label>
                  <div class="controls">
                    <div class="btn-group" id="testgroup2">
                      <button class="btn">NewPreset</button>
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a href="http://localhost:8080/mm/configurations/Test Group 1" class="activate-preset" id="NewPreset">NewPreset</a></li>
                        </ul>
                    </div>
                  </div>
                </div>

              </fieldset>
            </form>
			    </div>
			    
			    <div class="span8" id="acq-image-div">
			      <!--Body content-->
			      <img id="acq-image"></img>
			    </div>
			  </div>
			</div>

      #foreach( $cfg in $configurations )
      <div class="accordion-heading">
        <div class="row">
          <div class="span2 offset1">
          <h3><a class="accordion-toggle" data-toggle="collapse" href="#collapse$foreach.count">
            $cfg.getConfigGroupLabel()
          </a></h3>
          </div>
          <div class="span2 btn-group">
            <button class="btn btn-large">$cfg.getCurrentPreset()</button>
            <button class="btn btn-large dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              #foreach( $preset in $cfg.getConfigGroupPresetsList() )
                <li><a href="$cfg.getConfigGroupUrl()" class="activate-preset" id="$preset.getPresetId()">$preset.getPresetLabel()</a></li>
              #end
            </ul>
          </div>
        </div>
          
       <div id="collapse$foreach.count" class="accordion-body collapse" style="height: auto; ">
         <div class="accordion-inner">
           #foreach( $preset in $cfg.getConfigGroupPresetsList() )
             <ul>
              #foreach( $propLabel in $preset.getPresetPropertyLabelsList() )
                <li>$preset.getPresetLabel():$propLabel:$preset.getPresetPropertyValues($foreach.index)</li>              
              #end
             </ul>
           #end
         </div>
       </div>

      </div>
      #end
    
    </div>  <!-- end #container -->
        
    <script>
    $("#btn-snap-image").click(function (event) {
        event.preventDefault();
        $('<img id="acq-image"/>')
	        .attr('src', '$mmAnywhereCore.getMmAnywhereCoreUrl()/snapImage')
	        .load(function(){
	        	  $('#acq-image').remove();
	            $('#acq-image-div').append( $(this) );
	        });
      });
    
    $("#exposure-ms").keyup(function(e) {
        if (e.which == 13) // Enter key
            $(this).blur();
    });
    $('#exposure-ms').keypress(function(e) { return e.which != 13; });
    $('#exposure-ms').blur(function() {
      exposure = $(this).val();
    	$.post('$mmAnywhereCore.getMmAnywhereCoreUrl()/exposure',
    			{"exposure" : exposure},
    			function(data) {
    				  $('#exposure-ms').val(data);
    		});
    	});
    
    $('#binning').blur(function() {
        $('#options').hide();
      });
    $('#shutter').blur(function() {
        $('#options').hide();
      });
    $('#autoshutter').blur(function() {
        $('#options').hide();
      });
    
    </script>
    
  </body>
</html>
