<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/mm/ui/css/bootstrap.css">
    <script type="text/javascript" src="/mm/ui/js/jquery-1.7.2.min.js"></script>
    <script src="/mm/ui/js/bootstrap.js"></script>
    <title>MMAnywhere - Configurations</title>
  </head>

  <body>
    #include("/org/mm_anywhere/ui/header.vm")
    
    <div class="container" id="content">
	    <header class="jumbotron subhead" id="overview">
	      <h1>Configurations</h1>
	    </header>
      
      #foreach( $cfg in $configurations )
      <div class="accordion-heading">
        <div class="row">
          <div class="span2">
          <h3><a class="accordion-toggle" data-toggle="collapse" href="#collapse$foreach.count">
            $cfg.getConfigGroupLabel()
          </a></h3>
          </div>
          <div class="span2 btn-group">
	          <button class="btn btn-large">$cfg.getCurrentPreset()</button>
	          <button class="btn btn-large dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	          <ul class="dropdown-menu">
	            #foreach( $preset in $cfg.getConfigGroupPresetsList() )
	              <li><a href="$cfg.getConfigGroupUrl()" class="activate-preset" id="$preset.getPresetId()">$preset.getPresetLabel()</a></li>
	            #end
	          </ul>
          </div>
        </div>
          
	     <div id="collapse$foreach.count" class="accordion-body collapse" style="height: auto; ">
	       <div class="accordion-inner">
           #foreach( $preset in $cfg.getConfigGroupPresetsList() )
           <table class="table table-striped table-bordered">
             <thead><tr><th><h4>$preset.getPresetLabel()</h4></th><th>Device</th><th>Property</th><th>Current Value</th></tr></thead>
             #foreach( $propLabel in $preset.getPresetPropertyLabelsList() )
              <tr>
	              <td>$foreach.count</td>
	              <td>$preset.getPresetPropertyDevices($foreach.index)</td>
<!-- 	              <td>$preset.getPresetPropertyLabels($foreach.index)</td> -->
                <td>$propLabel</td>
	              <td>$preset.getPresetPropertyValues($foreach.index)</td>
              </tr>              
            #end
           </table>
           #end
	       </div>
	     </div>

		  </div>
      #end
    
    </div>  <!-- end #container -->
        
    <script>
      $(function () {
    	  $('.dropdown-toggle').dropdown()
      })
      $(".collapse").collapse('hide')
      $(".activate-preset").click(function(event) {
    	  event.preventDefault();
    	  setToText = event.target.text;
    	  cfgButton = $(event.target).parent().parent().prev().prev();
    	  $.post(event.target.href, { value: event.target.id})   
    	    .success(function() {
    	    	cfgButton.html(setToText); 
    	    });

      });
      
    </script>
    
  </body>
</html>
